---
title: Home
layout: default
lang: cs
ref: home
permalink: /
redirect_from:
    - /akademie/
---

<!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="assets/images/logo_avc.svg" alt="Homepage">
            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>{{ site.title }}</h3>
                
                <ul class="header-nav__list">
                    <li><a class="smoothscroll"  href="#home" title="home">Domů</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">O nás</a></li>
                    <li><a class="smoothscroll"  href="#collaboration" title="collaboration">Spolupráce</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Projekty</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Kontakt</a></li>
                </ul>

                {% comment %}
                <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
                {% endcomment %}

                <ul class="header-nav__social">
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>{% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>{% endif %}
                    {% if site.yt_channel_id %}
                    <li>
                        <a href="https://www.youtube.com/channel/{{ site.yt_channel_id }}" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>{% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github"></i></a>
                    </li>{% endif %}
                    {% if site.gitlab_username %}
                    <li>
                        <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank"><i class="fab fa-gitlab"></i></a>
                    </li>{% endif %}
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="assets/images/camera_studio.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                Ahoj! <br/>
                    Jsme AVC SiliconHill.
                </h1>

                <p>
                Nemožné ihned, zázraky do tří dnů.
                </p>
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#about">O nás<span>kdo jsme</span></a></li>
            <li><a class="smoothscroll" href="#collaboration">Spolupráce<span>s kým děláme</span></a></li>
            <li><a  class="smoothscroll" href="#contact">Kontakt<span>ozvěte se nám</span></a></li>
        </ul> <!-- end home-sidelinks -->

        <ul class="home-social">
            <li class="home-social-title">{{ site.data.translations.follow_us[page.lang] }}</li>
            {% if site.facebook_username %}
            <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                <i class="fab fa-facebook"></i>
                <span class="home-social-text">Facebook</span>
            </a></li>{% endif %}
            {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fab fa-twitter"></i>
                <span class="home-social-text">Twitter</span>
            </a></li>{% endif %}
            {% if site.yt_channel_id %}
            <li><a href="https://www.youtube.com/channel/{{ site.yt_channel_id }}" target="_blank">
                <i class="fab fa-youtube"></i>
                <span class="home-social-text">YouTube</span>
            </a></li>{% endif %}
            {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="fab fa-github"></i>
                <span class="home-social-text">GitHub</span>
            </a></li>{% endif %}
            {% if site.gitlab_username %}
            <li><a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank">
                <i class="fab fa-gitlab"></i>
                <span class="home-social-text">GitLab</span>
            </a></li>{% endif %}
        </ul> <!-- end home-social -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">{{ site.data.translations.scroll_down[page.lang] }}</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Kdo jsme</h3>
                <h1 class="display-1">AVC Silicon Hill je projektem klubu Silicon Hill, klubu Studentské unie ČVUT</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    {{ site.description }}
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Audio</h4>

                        <p>
                            Zajišťujeme ozvučení živých akcí, stejně tak jako například konferencí.
                            Zvládáme prostory od menších klubů po středně velké sály.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Video</h4>

                        <p>
                            Jsme vybaveni množstvím HD i 4K video techniky – kamery, střižny i převodníky – díky níž můžeme streamovat i zaznamenávat rozličné akce, od přednášek přes konference po koncerty.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Světla</h4>

                        <p>
                            Zajišťujeme i osvětlení živých akcí. Stejně tak jako u zvuku, ani zde se nebojíme velkých prostorů.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Vzdělávání</h4>

                        <p>
                            Hlavním cílem projektu AVC.SH je vzdělávání našich členů především v oblastech zvukové techniky – studiová i živé akce,  světelné a video techniky.
                        </p>
                    </div>
                </div>

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->


    <!-- collaboration
    ================================================== -->
    <section id='collaboration' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Spolupráce</h3>
                <h1 class="display-1">S kým spolupracujeme a kdo nás podporuje?</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    Audiovizuální centrum Silicon Hill spolupracuje s mnoha partnery. Naším nejbližším je samozřejmě náš studentský klub Silicon Hill, na většině jím pořádaných akcí nechybíme s naší technikou. Jako součást Studentské unie ČVUT také spolupracujeme na akcích pořádaných SU, ať už přímo technickým zajištěním nebo jen výpůjčkou techniky.
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

            {% for partner in site.data.collaboration %}
            <div class="col-block service-item " data-aos="fade-up">
                <div class="service-icon service-icon--brand-identity">
                    <img src="{{ partner.logo-src }}" style="height: 48px">
                </div>
                <div class="service-text">
                    <h3 class="h4"><a href="{{partner.link}}">{{partner.title}}</a></h3>
                    <p>
                        {{partner.description}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">
                
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Top projekty</h3>
                <h1 class="display-1">Některé projekty na kterých jsme se podíleli a které stojí za zmínku.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row masonry-wrap">
            <div class="masonry">

                {% for brick in site.data.masonry %}
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="assets/images/portfolio/gallery/{{ brick.g-img }}" class="thumb-link" title="{{ brick.title }}" data-size="{{ brick.dimensions }}">
                                <img src="assets/images/portfolio/{{brick.img }}"
                                     srcset="assets/images/portfolio/{{ brick.img }} 1x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                {{ brick.title_long | default: brick.title }}
                            </h3>
                            <p class="item-folio__cat">
                                {{ brick.type }}
                            </p>
                        </div>

                        <a href="{{ brick.link }}" class="item-folio__project-link" title="{{ site.data.translations.project_link[page.lang] }}">
                            {{ site.data.translations.project_link[page.lang] }}
                        </a>

                        <div class="item-folio__caption">
                            <p>{{ brick.caption }}</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
                {% endfor %}

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        {% comment %}
        <div class="testimonials-wrap" data-aos="fade-up">

            <div class="row">
                <div class="col-full testimonials-header">
                    <h2 class="h1">What Clients Are Saying.</h2>
                </div>
            </div>

            <div class="row testimonials">

                <div class="col-full testimonials__slider">

                    <div class="testimonials__slide">
                        <img src="assets/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                        <p>Qui ipsam temporibus quisquam velMaiores eos cumque distinctio nam accusantium ipsum. 
                        Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.</p>
                        <div class="testimonials__author">
                            Tim Cook
                            <span>CEO, Apple</span>
                        </div>
                    </div> <!-- end testimonials__slide -->

                    <div class="testimonials__slide">
                        <img src="assets/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                        <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                        Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>
                        <div class="testimonials__author">
                            Sundar Pichai
                            <span>CEO, Google</span>
                        </div>
                    </div> <!-- end testimonials__slide -->

                    <div class="testimonials__slide">
                        <img src="assets/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.  
                        Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>
                        <div class="testimonials__author">
                            Satya Nadella
                            <span>CEO, Microsoft</span>
                        </div>
                    </div> <!-- end testimonials__slide -->
                    
                </div> <!-- end testimonials__slider -->

            </div> <!-- end testimonials -->

        </div> <!-- end testimonials-wrap -->
        {% endcomment %}
    </section> <!-- end s-works -->


    <!-- stats
    ================================================== -->
    <section id="stats" class="s-stats">

        <div class="row stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
                
            <div class="col-block stats__col ">
                <div class="stats__count">55</div>
                <h5>Hotových akcí</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">35</div>
                <h5>Členů</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">935</div>
                <h5>Videí</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">2</div>
                <h5>Přenosy na ISS</h5>
            </div>

        </div> <!-- end stats -->

    </section> <!-- end s-stats -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Ozvěte se nám</h3>
                <h1 class="display-1 display-1--light">Jste kapela či sólista a chcete u nás nahrávat? Chcete technicky zajistit Vaši akci?</h1>

                <p class="lead">
                    Máte zájem o práci se zvukem, světlem či videem? Chcete se podílet na zajímavých akcích? Nebo si jen chcete zkusit práci s týmem lidí? Neváhejte a napište nám!
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row">

            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                <a href="mailto:{{ site.email }}" class="contact-email">{{ site.email }}</a>
                <span class="contact-number">{{ site.phones }}</span>
                </p>
            </div> <!-- end contact-main -->

        </div> <!-- end row -->

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Doručovací adresa</h3>

                <p class="contact-address">
                    SU ČVUT, klub Silicon Hill<br>
                    Vaníčkova 7<br>
                    169 00, Praha 6
                </p>

                <p>
                    Fakturační adresa <a href="http://www.siliconhill.cz/pages/kontakt">zde</a>.
                </p>
            </div> <!-- end contact-secondary -->

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">{{ site.data.translations.follow_us[page.lang] }}</h3>

                <ul class="contact-social">
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/{{ site.yt_channel_id }}" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

            </div> <!-- end contact-secondary -->

        </div> <!-- end row -->

        <div class="row">
            <div class="col-full cl-copyright">
                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
            </div>
        </div>

        <div class="cl-go-top">
            <a class="smoothscroll" title="{{ site.data.translations.back_to_top[page.lang] }}" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
        </div>

    </section> <!-- end s-contact -->

{% include photoswipe.html %}



