<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ "assets/css/base.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/css/vendor.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <!-- script
    ================================================== -->
    <script src="{{ "assets/js/modernizr.js" | relative_url }}"></script>
    <script src="{{ "assets/js/pace.min.js" | relative_url }}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ "assets/favicon.ico" | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ "assets/favicon.ico" | relative_url }}" type="image/x-icon">


    {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
    {%- include fathom-analytics.html -%}
    {%- endif -%}

</head>
