---
layout: post
status: publish
published: true
title: Twisted Timber
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 146
wordpress_url: http://avc.siliconhill.cz/?p=146
date: '2010-01-26 23:30:06 +0100'
date_gmt: '2010-01-26 22:30:06 +0100'
categories:
- Studio
tags: []
---
<div style="float: right; width: 282px; margin-left: 15px; margin-bottom: 15px;">[mp3player width=280 height=200 config=default_config.xml playlist=twisted-timber.xml]</div>
<p>Twisted Timber je první kapelou, která kdy nahrávala v našem studiu. První demo nahrávky začali vznikat v roce 2009, poslední demo písničkou byla White With The Spirit, která byla zveřejněna začátkem roku 2011. Více informací o této mezinárodní kapele hrající  nejen moderní bluegrass, ale i příbuzné styly, naleznete na jejich stránkách <a title="Twisted Timber" href="http://twistedtimber.cz" target="_blank">www.twistedtimber.cz</a>.</p>
