---
layout: post
status: publish
published: true
title: Oslava 3. výročí založení FIT ČVUT
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 63
wordpress_url: http://avc.siliconhill.cz/?p=63
date: '2012-06-30 20:05:20 +0200'
date_gmt: '2012-06-30 20:05:20 +0200'
categories:
- Live
tags: []
---
<p>Na 30.6. připadá datum založení Fakulty informačních technologii na ČVUT. Proto se 30.6.2012 uskutečnila oslava 3. výročí jejího založení. Celá akce probíhala v areálu strahovských kolejí. Masíčko na grilu, chlazené pivo, spousta letního sluníčka a teplíčka. K tomu vystoupení kapel složených z členů FITu. U toho jsme  prostě nemohli chybět.</p>
<p>[srizonfbalbum id=2]</p>
