---
layout: post
status: publish
published: true
title: Akce prvák 2012
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 95
wordpress_url: http://avc.siliconhill.cz/?p=95
date: '2012-09-19 20:05:08 +0200'
date_gmt: '2012-09-19 20:05:08 +0200'
categories:
- Live
tags: []
---
<p>Akce prvák je tradiční akcí pořádanou klubem Silicon Hill pro nově příchozí studenty na Strahov. Během akce jsou představeny veškeré činnosti klubu včetně projektů a akademií. Projekty i akademie zde mají i prostor pro své stánky se svojí prezentací. Na akci se také prezentují další, především zájmové kluby Studentské unie ČVUT. Akce se<br />
  již pravidelně koná ve strahovské menze.</p>
<p>AVC.SH se zde především představuje tak, že prezentující jsou vidět a je jim i rozumnět ;)</p>
