---
layout: post
status: publish
published: true
title: IAESTE UnDeRGround fest vol.2
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 56
wordpress_url: http://avc.siliconhill.cz/?p=56
date: '2012-11-28 20:05:53 +0100'
date_gmt: '2012-11-28 20:05:53 +0100'
categories:
- Live
tags: []
---
<p>Akce pořádaná IAESTE Praha v baru Desítka na Strahově. AVC.SH již tradičně akci nazvučilo i nasvítilo. S sebou jsme měli celou světelnou i zvukovou aparaturu. Několik fotografií z rukou Ondřeje Szonyi přikládáme, další naleznete v jeho <a title="IAESTE Underground fest vol.2" href="https://www.facebook.com/media/set/?set=a.10152311913145072.935357.84172740071&amp;type=1">albu</a> na facebooku.</p>
<p>[srizonfbalbum id=5]</p>
