---
layout: post
status: publish
published: true
title: Vánoční večírek Studentské unie ČVUT
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 33
wordpress_url: http://avc.siliconhill.cz/?p=33
date: '2012-12-12 20:01:55 +0100'
date_gmt: '2012-12-12 20:01:55 +0100'
categories:
- Live
tags: []
---
<p>Vánoční večírek Studentské Unie se konal 12. 12. 2012 v krásných prostorách kaple Sacre Couer. AVC.SH se na večírku starala o nazvučení i nasvícení celé akce.</p>
<p>Akci zachytil na fotoaparát Radim Roška a několik jeho fotografií přikládáme, celou galerii pak můžete nalézt <a title="Galerie fotek od Radima Rošky" href="https://www.facebook.com/media/set/?set=a.432574353462404.105337.241026692617172&amp;type=1" target="_blank">zde</a>. Další <a title="Fotografie od Veroniky Soukupové" href="https://www.facebook.com/media/set/?set=a.4203154918715.2142031.1280100394&amp;type=1&amp;l=e0bd56e697" target="_blank">fotografie</a> z akce jsou Veroniky Soukupové.</p>
<p>[srizonfbalbum id=3]</p>
