---
layout: post
status: publish
published: true
title: The Shackles
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 202
wordpress_url: http://avc.siliconhill.cz/?p=202
date: '2012-05-26 21:09:51 +0200'
date_gmt: '2012-05-26 19:09:51 +0200'
categories:
- Studio
- Akce
tags: []
---
<p>[mp3player width=280 height=200 config=default_config.xml playlist=theshackles.xml id=prehravac]</p>
<p>Mladá kapela z východu čech - z Vrchlabí hrající melodický rock. Další info na <a href="http://bandzone.cz/theshackles" target="_blank">http://bandzone.cz/theshackles</a>.</p>
