---
layout: post
status: publish
published: true
title: Bažantrikulace 2012
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 59
wordpress_url: http://avc.siliconhill.cz/?p=59
date: '2012-11-29 20:05:59 +0100'
date_gmt: '2012-11-29 20:05:59 +0100'
categories:
- Live
tags: []
---
<p>Tradiční křest prváků Jaderky organizovaný druháky spojený s divadelní a hudební produkcí. Tentokrát s titulem <strong>Nuclear Musical aneb Romance na Jaderce</strong>.</p>
<p>Sound and light by AVC.SH. Ukázku fotografií z akce přikládáme. Další fotky naleznete v <a href="https://www.facebook.com/media/set/?set=a.3889633246981.2138496.1463473141&amp;type=1">albu</a> Jana Tomsy.</p>
<p>[srizonfbalbum id=4]</p>
