---
layout: post
status: publish
published: true
title: Den otevřených dveří
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1
wordpress_url: http://avc.siliconhill.cz/?p=1
date: '2012-11-26 16:33:30 +0100'
date_gmt: '2012-11-26 16:33:30 +0100'
categories:
- Vzdělávání
tags: []
---
<p>Dne 26.11.2012 se uskutečnil Den otevřených dveří v našem strahovském studiu. K vidění byla veškerá naše technika, návštěvníci si mohli zkusit živé zvučení (skoro) živé kapely, nahrávání ve studiu a porovnání různých mikrofonů, k dispozici byla i naše světelná technika. Návštěvnost nás příjemně překvapila a doufáme, že se u nás všem líbilo. Těšíme se na brzkou shledanou.</p>
<p>[srizonfbalbum id=1]</p>
