---
layout: post
status: publish
published: true
title: 15. narozeniny klubu Silicon Hill
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 321
wordpress_url: http://avc.siliconhill.cz/?p=321
date: '2013-05-08 22:42:51 +0200'
date_gmt: '2013-05-08 20:42:51 +0200'
categories:
- Live
- Akce
tags: []
---
<p>V úterý 7. května slavil klub Silicon Hill své 15.narozeniny. Akce probíhala mezi bloky 4 a 8, bylo pivo, maso, dohrávali se Blokové hry.. AVC.SH na klubové akci zajišťovalo ozvučení i světlo. Pořádný <a title="Oslava 15. ti let klubu Silicon HIll" href="http://www.siliconhill.cz/posts/261-oslava-15-let-sh" target="_blank">článek</a> o akci včetně fotogalerie je k nalezení na informační stránce klubu <a title="Info Silicon Hill" href="http://info.siliconhill.cz" target="_blank">Silicon Hill</a>.</p>
