---
layout: post
status: publish
published: true
title: Strahov OpenAir 2013
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 434
wordpress_url: http://avc.siliconhill.cz/?p=434
date: '2013-09-26 22:14:52 +0200'
date_gmt: '2013-09-26 20:14:52 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Tradičně jako každý rok jsme začátek nového akademického roku museli pořádně zapít a kde jinde než na Strahově. Studenti pro studenty opět uspořádali OpenAir festival s různými kapelami.</p>
<p>Na  hlavním pódiu jste mohli slyšet kapely již od 14 hodin, kdy pro vás otevřeli hudební odpoledne Vagyny Dy Praga. Následovali Dominik DJ Rockstar Turza a Oliver Beatman, Goodfellas a také Charlie Straight. A do večera jste si mohli ještě užít vystoupení Xavier Baumaxa, Prago Union a polských Good Girl Maggie.</p>
<p>Ani Desítka nezůstala pozadu a spolu s námi jste si mohli poslechnout kapely When It Rains, Wade, Plum Dumplings a 1st Choice.</p>
<p>Zavzpomínejte v naší fotogalerii a příští rok, na podzim 2014, určitě přijďte ;).</p>
<p>&nbsp;</p>
<p>[srizonfbalbum id=10]</p>
