---
layout: post
status: publish
published: true
title: InstallFest 2013
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 222
wordpress_url: http://avc.siliconhill.cz/?p=222
date: '2013-03-03 21:40:19 +0100'
date_gmt: '2013-03-03 20:40:19 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Installfest je akce, kde se setkávají začátečníci s ostřílenými linuxáky, kteří jim pomáhají s instalací GNU/Linux nebo problémy, které vyžadují více zkušeností. InstallFest pořádaný klubem Silicon Hill je ale o něco více akčnější, kromě instalací nabízí i přednášky a navíc je možné zúčastnit se i z domova.</p>
<p>AVC.SH se podílelo na průběhu akce nejen jejím nazvučením, ale také jsme se postarali o kompletní stream a záznam  z akce - ve spoluprácí s <a href="http://www.mediawork.cz" target="_blank">Mediawork group s.r.o.</a></p>
<p>Další informace na <a href="http://www.installfest.cz" target="_blank">http://www.installfest.cz</a>.</p>
<p>Fotogalerie najdete u <a href="https://www.facebook.com/media/set/?set=a.10151337110408403.1073741825.702603402&amp;type=3" target="_blank">Radima Rošky</a> a <a href="https://www.facebook.com/media/set/?set=a.10151485992919295.1073741826.731964294&amp;type=3" target="_blank">Honzy Bednáře</a>.</p>
<h2>Záznam z akce:</h2>
<p><script type="text/javascript" src="http://playlist.publicstream.cz/installfest/embed/swfobject-installfest2012.js"></script><script type="text/javascript"><br />
createPlayerPlaylist('http://playlist.publicstream.cz/installfest/201103-installfest-zaznam_2013.xml','512','878','580','bottom','over','archivPlayer')<br />
</script></p>
<div id="archivPlayer"><a href="http://www.macromedia.com/go/getflashplayer">Stáhněte si zde</a> poslední verzi flashového přehrávače.</div>
<p>[srizonfbalbum id=6]</p>
