---
layout: post
status: publish
published: true
title: Šantré
author:
  display_name: Zdeněk Vošta
  login: vostik
  email: vostik@gmail.com
  url: http://avc.siliconhill.cz
author_login: vostik
author_email: vostik@gmail.com
author_url: http://avc.siliconhill.cz
wordpress_id: 323
wordpress_url: http://avc.siliconhill.cz/?p=323
date: '2013-05-25 19:53:17 +0200'
date_gmt: '2013-05-25 17:53:17 +0200'
categories:
- Studio
- Akce
tags: []
---
<p>[mp3player width=280 height=200 config=default_config.xml playlist=santre.xml id=prehravac]</p>
<p><span style="font-size: small;">Na konci roku 2012 přišla do studia skupina <a title="Šantré" href="http://www.santre.cz/" target="_blank">Šantré</a> - pražské trio s hravou hudbou z žánrové oblasti folku a okolí. Původní záměr byl "nahrajem si něco, abychom věděli, jak nám to vlastně zní." Ale nahrávání se dařilo výborně, takže po mixu a masteringu Petra Michala z <a title="MK Production" href="http://www.mkproduction.cz/" target="_blank">MK Production</a> vzniklo pětipísňové CD a jedna z písní byla dokonce vybrána do <a title="FOLK ŽIJE! CD" href="http://www.kreativcisobe.cz/folk-zije-nova-generace-ceskeho-folku/?project=159" target="_blank">žánrové kompilace</a> projektu <a title="FOLK ŽIJE!" href="http://www.folkzije.cz/" target="_blank">FOLK ŽIJE!</a> ... Poslechněte si ukázky, ohodnoťte.</span></p>
