---
layout: post
status: publish
published: true
title: IAESTE Underground 2013
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 471
wordpress_url: http://avc.siliconhill.cz/?p=471
date: '2013-11-20 23:55:08 +0100'
date_gmt: '2013-11-20 22:55:08 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Ve středu  20. 11. 2013 jsme zvučili a osvětlovali další akci, tentokrát zastřešenou IAESTE, a to akci Underground. Po krátkém stěhování techniky mezi bloky, protože se akce pořádala v klubu Desítka jsme začali stavět, a byli vcelku rychle hotovi.</p>
<p>Večer nám zpříjemňovaly tři kapely, jejichž akce vyvrcholila - a to doslova - výstupem poslední kapely, při kterém pogovala téměř polovina příchozích, což si za následek vyžádalo životy několika sklenic piva :-(</p>
<p>Tak na další akci třeba na shledanou :-).</p>
<p>&nbsp;</p>
<p>[srizonfbalbum id=13]</p>
