---
layout: post
status: publish
published: true
title: 29th CEC - Czech Republic
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 267
wordpress_url: http://avc.siliconhill.cz/?p=267
date: '2013-04-29 19:50:10 +0200'
date_gmt: '2013-04-29 17:50:10 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Mezinárodní akce pořádaná IAESTE ve dnech 26. - 28.4. 2013 ve Vyšším Brodě. AVC.SH zajišťovalo zvukovou a světelnou techniku. Video z akce je k vidění <a title="Video z 29th CEC by IAESTE" href="http://www.youtube.com/watch?v=Glodq8J7wnE">zde</a>. Všechny fotografie najdete v galeriích od Ondřeje Szönyiho. Celá galerie z  <a title="29th CEC - Czech Republic - 1st day" href="https://www.facebook.com/media/set/?set=a.10201098400203695.1073741834.1279511658&amp;type=3" target="_blank">prvního</a> dne a <a title="29th CEC - Czech Republic - 2nd a 3rd day" href="https://www.facebook.com/media/set/?set=a.10201139157422600.1073741835.1279511658&amp;type=1" target="_blank"> galerie</a> ze druhého a třetího dne akce.</p>
<p>[srizonfbalbum id=7]<br />
[srizonfbalbum id=8]</p>
<p><strong> </strong></p>
