---
layout: post
status: publish
published: true
title: DeZtraktor
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 199
wordpress_url: http://avc.siliconhill.cz/?p=199
date: '2013-02-26 21:08:55 +0100'
date_gmt: '2013-02-26 20:08:55 +0100'
categories:
- Studio
- Akce
tags: []
---
<p>[mp3player width=280 height=200 config=default_config.xml playlist=deztraktor.xml id=prehravac]</p>
<p>AgroDeZtrakto-punk-metalová kapela z Prahy/Severu čech. Více informací na <a href="http://bandzone.cz/deztraktor" target="_blank">http://bandzone.cz/deztraktor</a>.</p>
