---
layout: post
status: publish
published: true
title: Jesus Christ Superstar
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 246
wordpress_url: http://avc.siliconhill.cz/?p=246
date: '2013-03-25 23:00:29 +0100'
date_gmt: '2013-03-25 22:00:29 +0100'
categories:
- Live
- Akce
tags: []
---
<p>První téměř kompletní provedení rockových pašijí Jesus Christ Superstar v provedení studentů pražského Arcibiskubského gymnázia a jeho přátel, hlavního sólového partu se ujal zpěvák z Hudebního divadla Karlín Jaromír Holub v roli Ježíše. Tato zdařilá akce se uskutečnila ve Sboru Církve bratrské v Praze 1. AVC.SH celou akci zvučila a částečně i svítila. Fotografie z akce můžete nalézt na G+ profilu <a href="https://plus.google.com/photos/113603490787174602364/albums/5859666556586189617">Ondřeje Martina Suchánka</a>.</p>
