---
layout: post
status: publish
published: true
title: Le hAnam
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 201
wordpress_url: http://avc.siliconhill.cz/?p=201
date: '2013-02-26 21:09:22 +0100'
date_gmt: '2013-02-26 20:09:22 +0100'
categories:
- Studio
- Akce
tags: []
---
<p>[mp3player width=280 height=200 config=default_config.xml playlist=lehanam.xml id=prehravac]</p>
<p>Mělnicko-ústecko-pražská skupina Le hAnam hraje (ne)tradiční irskou hudbu s příměsí skotských, bretaňských ale i jazzových motivů. Více informací na <a href="http://bandzone.cz/lehanam" target="_blank">http://bandzone.cz/lehanam</a>.</p>
