---
layout: post
status: publish
published: true
title: Night Before The End
author:
  display_name: Pijan
  login: buchty
  email: pavel.buchtele@gmail.com
  url: http://avc.siliconhill.cz
author_login: buchty
author_email: pavel.buchtele@gmail.com
author_url: http://avc.siliconhill.cz
wordpress_id: 441
wordpress_url: http://avc.siliconhill.cz/?p=441
date: '2013-11-13 15:03:10 +0100'
date_gmt: '2013-11-13 14:03:10 +0100'
categories:
- Studio
- Akce
tags: []
---
<p>Výsledek nahrávání Nového EP kapely <a href="http://bandzone.cz/nightbeforetheend">Night Before The End</a> pod taktovkou Buchtyho.</p>
<p>Příjemný poslech...<br />
[mp3player width=280 height=200 config=default_config.xml playlist=nbte.xml id=prehravac]<a href="http://avc.siliconhill.cz/nbte/nbte-2/" rel="attachment wp-att-442"><img class="alignnone  wp-image-442" alt="Night Before The End" src="http://avc.siliconhill.cz/wp-content/uploads/2013/11/NBtE-300x300.jpg" width="220" height="220" /></a></p>
