---
layout: post
status: publish
published: true
title: Den otevřených dveří 2013
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 399
wordpress_url: http://avc.siliconhill.cz/?p=399
date: '2013-10-12 00:26:20 +0200'
date_gmt: '2013-10-11 22:26:20 +0200'
categories:
- Vzdělávání
- Akce
tags: []
---
<p>Jestliže bydlíte na bloku 8 na Strahovských kolejích, tak jste si jistě ve středu 9. 10. 2013 všimli, že to nebyla zrovna klidná kolej, řekla bych, že minimálně v těch spodních patrech  ;-). Důvodem nebyla žádná chodbovice, ale Den otevřených dveří v našem nahrávacím studiu, a že to za to stálo se k nám přijít podívat, naznačuje i to, že na fotodokumentaci prostě nezbyl prostor :-P.</p>
<p>A co se tedy dělo? Mohli jste si vyzkoušet živé zvučení bez živé kapely, ovládat barevná i pohyblivá světla, nahlédnout do tajů zpracování audio nahrávek či streamu videa. Byla k vidění naše krásná technika, musíme zmínit mikrofony :-), a největším letošním lákadlem byly výborné jednohubky s hroznovým vínem, která připravila Eliška.</p>
<p>Takže jestli jste o tuto jedinečnou událost letos přišli, tak už teď můžete počítat s tím, že příští rok na podzim pro Vás otevřeme dveře  znovu.</p>
<p>Tak příště nahledanou a nebo raději na některé z dalších akcí brzy naviděnou ;-)</p>
