---
layout: post
status: publish
published: true
title: Vánoce pro Radost, o.p.s. BekOfis, Lola běží!
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 466
wordpress_url: http://avc.siliconhill.cz/?p=466
date: '2013-12-18 22:34:50 +0100'
date_gmt: '2013-12-18 21:34:50 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Ve středu 18. 12. 2013 jsme se zúčastnili charitativní akce Vánoce pro Radost, o.p.s., kterou pořádali studenti ČZU v klubu "C". Akce měla za cíl podpořit  dětský domov Radost, o.p.s. a tak první část byla určena především dětem a druhá, která se protáhla až do noci, pro ty starší ;).</p>
<p>A kdo společně s námi večer hrál? Večerní program otevřela energická kapela Lola běží. O tom, že kluci umí hrát nás brzy přesvědčili a postupně zaplňující se parket to jenom dosvědčil :-).</p>
<p>Mezi kapelami vystoupily roztleskávačky Wild Cheerleaders ČZU, které nám ukázaly, jak to správně na parketu rozjet a mohla následovat další kapela - BekOfis.</p>
<p>Na závěr večera vystoupil ještě DJ Rockstar (až budete projíždět naši fotogalerii, tak si určitě všimněte, jaké měl hezké barevné boty ;).</p>
<p>Děkujeme pořadatelům a kapelám za super akci a především všem, kteří přišli podpořit děti a dětský domov Radost, o.p.s. :-)</p>
<p>&nbsp;</p>
<p>[srizonfbalbum id=11]</p>
