---
layout: post
status: publish
published: true
title: IZUN Music Challenge 2013/2014 vol. 2
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 468
wordpress_url: http://avc.siliconhill.cz/?p=468
date: '2013-12-17 23:23:44 +0100'
date_gmt: '2013-12-17 22:23:44 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Jedno úterní odpoledne 17. 12. 2013 jsem zase znovu vyrazili na Českou zemědělskou univerzitu do klubu "C", kde se uskutečnila již druhá část soutěže IZUN Music Challenge, která vybere kapelu na Miss Agro 2014.</p>
<p>V tomto kole jsme si poslechli kapely Deliwery, Simple Muffin a Joe Purple.</p>
<p>Mrkněte do naší fotogalerie a přijďte na třetí kolo této fajn soutěže 19. 2. 2014 :-).</p>
<p>&nbsp;</p>
<p>[srizonfbalbum id=12]</p>
