---
layout: post
status: publish
published: true
title: Pavel Kohn
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 191
wordpress_url: http://avc.siliconhill.cz/?p=191
date: '2013-02-22 21:08:21 +0100'
date_gmt: '2013-02-22 20:08:21 +0100'
categories:
- Studio
- Akce
tags: []
---
<p>[mp3player width=280 height=200 config=default_config.xml playlist=pavel_kohn.xml id=prehravac]</p>
<p>Folkový písničkář z Ostravy. Více informací o něm naleznete na <a href="http://bandzone.cz/pavelkohn" target="_blank">http://bandzone.cz/pavelkohn</a>.</p>
