---
layout: post
status: publish
published: true
title: Slovácký hudební podzim
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 410
wordpress_url: http://avc.siliconhill.cz/?p=410
date: '2013-10-26 19:54:16 +0200'
date_gmt: '2013-10-26 17:54:16 +0200'
categories:
- Live
- Akce
tags: []
---
<p>I když dnešní odpoledne, čtvrtek 24. 10. 2013, začal ve znamení tříkrát si přečti email a až potom jeď na akci, vše dopadlo suprově.</p>
<p>Na České zemědělské univerzitě v Praze se uskutečnila akce Slovácký hudební podzim. A bylo toho hodně, protože jsme před odjezdem dočista vybílili sklad.</p>
<p>Večerem provázeli tři kapely, ve kterých především nesměl chybět cimbál. Na "Slovácku" jste mohli potkat tedy nejen náš úžasný zvuk (velká pochvala Pavlovi :-)) a originální barevné kreace světel, ale také mnoho přímo z Moravy, víno, klobásy, vdolečky, škvarky či tlačenku... Na zdi sice visel plakát "Healthy people depend on healthy food system", ale když přijede Morava za Vámi do Prahy, tak jí přece nedáte košem :-).</p>
<p>Podívejte se na <a title="Slovácký hudební podzim" href="https://www.facebook.com/media/set/?set=a.622095197842559.1073741825.127723707279713&amp;type=3 target=">fotky</a> z akce a jestli moc nefandíte cimbálovkám, zkuste si pustit třeba něco od kapely Medicimbal, která nás příjemně překvapila originální sestavou - cimbál s efekty, baskytara a bicí.</p>
<p>Ještě bych chtěla poděkovat Všem zúčastněným a jak se i u nás na Moravě říká: "Konec dobrý, všechno dobré!" :-)</p>
<p>&nbsp;</p>
<p>[srizonfbalbum id=9]</p>
