---
layout: post
status: publish
published: true
title: LinuxDays 2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 777
wordpress_url: http://avc.siliconhill.cz/?p=777
date: '2014-10-04 11:47:17 +0200'
date_gmt: '2014-10-04 09:47:17 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>První říjnový víkend se pro nás nesl ve znamení Linuxu. Velká konference pořádaná v prostorách Fakulty informačních technologií v nové budově ČVUT v kampusu v Dejvicích. Posuďte sami, 3 místnosti, 2 HD streamy (ve spolupráci s <a href="http://www.mediawork.cz/">Mediawork</a>) a 1 4k stream ve spolupráci se sdružením <a href="http://www.cesnet.cz">Cesnet</a>. A to vše na akci LinuxDays 2014,  <a title="LinuxDays" href="http://www.linuxdays.cz" target="_blank">www.linuxdays.cz</a>.</p>
<p>Fotoreport z akce naleznete např. na root.cz (<a title="Linux days 2014 - sobota" href="http://www.root.cz/galerie/linuxdays-2014-sobota/" target="_blank">sobota</a>, <a title="Linux days 2014 - neděle" href="http://www.root.cz/galerie/linuxdays-2014-nedele/" target="_blank">neděle</a>) a na <a title="Linux days 2014" href="http://www.abclinuxu.cz/blog/xkucf03/2014/10/konference-linux-days-a-openalt-2014" target="_blank">abclinuxu.cz</a>.</p>
<p><iframe src="//www.youtube.com/embed/videoseries?list=PLlTxFw5y5UZs4GeL4jrG5C0LCH0bXdEbb" height="315" width="560" allowfullscreen="" frameborder="0"></iframe></p>
