---
layout: post
status: publish
published: true
title: Den otevřených dveří 2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 783
wordpress_url: http://avc.siliconhill.cz/?p=783
date: '2014-10-18 22:15:40 +0200'
date_gmt: '2014-10-18 20:15:40 +0200'
categories:
- Vzdělávání
- Akce
tags: []
---
<p>Dne 14. října 2014 jsme opět zorganizovali Den otevřených dveří. Příchozí návštěvníci měli možnost si nejen prohlédnout, ale i odzkoušet naši veškerou techniku. Byla připravena technika jak studiová, tak živý zvuk, návštěvníci si mohli pohrát s naším světelným parkem a nechyběla ani naše video technika.</p>
<p>[srizonfbalbum id=19]</p>
