---
layout: post
status: publish
published: true
title: Prague Challenge 2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 792
wordpress_url: http://avc.siliconhill.cz/?p=792
date: '2014-07-19 18:41:21 +0200'
date_gmt: '2014-07-19 16:41:21 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Prague Challenge, to není jen další víkend s pořádnou párty. Je to skvělá příležitost poznat krásy Prahy, získat nové přátele a zažít spoustu zábavy s lidmi z celého světa... (více na <a title="Web Prague Challenge" href="http://www.praguechallenge.cz/">www.praguechallenge.cz</a>).</p>
<p>Akci Prague Challenge pořádá IAESTE Praha a my akci zajišťujeme po stránce zvukové a světelné. Náš největší zážitek byla párty na lodi s veškerou technikou. No, kdy se vám stane, že stavíte techniku na něčem, co se pohybuje?</p>
<p>Celý fotoreport je k vidění na <a title="Prague Challenge - Foto report" href="https://www.facebook.com/media/set/?set=a.689429424465773.1073741825.689310424477673&amp;type=1">stránce akce</a>.</p>
<p>[srizonfbalbum id=22]<br />
[srizonfbalbum id=20]</p>
