---
layout: post
status: publish
published: true
title: Vánoční večírek Studentské unie ČVUT 2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 828
wordpress_url: http://avc.siliconhill.cz/?p=828
date: '2014-12-12 22:29:10 +0100'
date_gmt: '2014-12-12 21:29:10 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Je již pravidlem, že Studentská unie ČVUT pořádá Vánoční večírek. Letošní večírek se uskutečnil 12. prosince v prostorách Písecké brány. Fotografie z akce jsou z <a title="Vánoční večírek Studentské unie ČVUT" href="https://www.facebook.com/media/set/?set=a.732457256807444.1073741832.241026692617172&amp;type=1" target="_blank">galerie </a>od Zdeňka Horáka.</p>
<p>[srizonfbalbum id=23]</p>
