---
layout: post
status: publish
published: true
title: Pražské mažoretky - 10 let
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 795
wordpress_url: http://avc.siliconhill.cz/?p=795
date: '2014-10-12 18:55:15 +0200'
date_gmt: '2014-10-12 16:55:15 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Dne 12.10. jsme se účastnili oslavy 10 let existence Pražských mažoretek pod TJ Sokol Vysočany. Akce se konala ve sportovní hale Na Balkáně a my jsme zajišťovali zvuk na celé akci.</p>
<p>Fotografie z akce můžete nalézt na stránkách <a href="http://www.minimazoretky.estranky.cz/fotoalbum/fotogalerie/sokol_vyroci/" target="_blank">Pražských mažoretek</a>.</p>
