---
layout: post
status: publish
published: true
title: 'Studentský ples ČVUT '
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 518
wordpress_url: http://avc.siliconhill.cz/?p=518
date: '2014-03-21 23:58:00 +0100'
date_gmt: '2014-03-21 22:58:00 +0100'
categories:
- Live
tags: []
---
<p>Ve stylu filmových a seriálových postav se v pátek 21. března sešli přátelé dobré zábavy a tance na plese pořádaném Studentskou unií ČVUT v prostorách Masarykovy koleje. Skvělá hudba, nápadité kostýmy, spousta zábavy - nic z toho nechybělo. Jak to na plese vypadalo se můžete podívat v <a title="Studentský ples ČVUT" href="https://www.facebook.com/media/set/?set=a.618903401496164.1073741830.241026692617172&amp;type=1">galerii</a> na facebooku Studentské unie ČVUT.</p>
