---
layout: post
status: publish
published: true
title: 'Film Talks: Vlk z Wall Street a University Band Contest 2014'
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 698
wordpress_url: http://avc.siliconhill.cz/?p=698
date: '2014-03-12 17:12:13 +0100'
date_gmt: '2014-03-12 16:12:13 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Ve středu 12. 3. 2014 AVC mělo celkem nabitý program. Část se vydala na University Band Contest 2014 do klubu C a část na debatu z cyklu Film Talks do Era světu. Na obou akcích jsme zajišťovali zvuk.</p>
<p>Na záznam debaty o filmu Vlk z Wall Street se můžete podívat na <a title="stránkách" href="https://prostor.erasvet.cz/akce/film-talks-vlk-z-wall-street" target="_blank">stránkách</a> Era světa.</p>
<p>Oblastního pražského kola Univerzitní bitvy kapel 2014 se zúčastnily zástupci VŠE - Bek Ofis, ČVUT - Kobylinec, UK - New World Order a ČZU - Crapfruit. A vítězem se stala kapela Crapfruit, která se nakonec probojovala až do úplného finále, kde byla také úspěšná, a stala se tak úplným vítězem letošního ročníku University Band Contest. Na fotografie z akce se můžete podívat na <a title="facebooku" href="https://www.facebook.com/media/set/?set=a.10152022924203457.1073741850.88728898456&amp;type=1" target="_blank">facebooku</a> časopisu iZUN.</p>
