---
layout: post
status: publish
published: true
title: Vyhlášení 38. ročníku Strahovské ligy
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 673
wordpress_url: http://avc.siliconhill.cz/?p=673
date: '2014-05-20 20:00:24 +0200'
date_gmt: '2014-05-20 18:00:24 +0200'
categories:
- Live
- Akce
tags: []
---
<p>V úterý 20. 5. 2014 proběhlo ve strahovské menze vyhlášení sportovních výsledků Strahovské fotbalové ligy. Vítězným týmům předali ceny ředitel SÚZ ČVUT Jaromír Příhoda, vedoucí MEGA BUF FAT na fakultě stavební Dana Hlaváčková a zástupce ÚTVS ČVUT doc. Jiří Drnek. Naším úkolem bylo zajištění zvuku. Na radost oceněných se můžete podívat ve <a title="fotogalerii Strahovské ligy." href="https://www.facebook.com/media/set/?set=oa.10152285955403153&amp;type=1" target="_blank">fotogalerii Strahovské ligy</a>.</p>
<p>Sláva vítězům a čest poraženým :-)</p>
