---
layout: post
status: publish
published: true
title: Akce prvák 2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 788
wordpress_url: http://avc.siliconhill.cz/?p=788
date: '2014-10-08 11:40:28 +0200'
date_gmt: '2014-10-08 09:40:28 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Již tradiční strahovská akce se uskutečnila 8. října 2014. Akce je určena především pro nově ubytované studenty na strahovských kolejích. Na akci se prezentuje jak celý klub Silicon Hill, tak jsou zde stánky jednotlivých projektů, kde se mohou "prváci" seznámit s jednotlivými aktivitami, které na Strahově provozujeme.</p>
<p>Náš úkol byl také tradiční, ozvučit a nasvítit celou akci. V rámci naší prezentace jsme s sebou také vzali naši videotechniku včetně střižny a připravili jsme pro zájemce malé studio, kde si mohli zkusit práci studiového zvukaře a smíchat si připravenou skladbu.</p>
<p>Fotoreport z akce naleznete ve strahovské <a title="Akce prvák 2014" href="https://www.siliconhill.cz/photogalleries/103-akce-prvak-2014">fotogalerii</a>. Vybrané fotografie jsou i u nás v galerii, fotili Michal Býna a Petr Kaštánek.</p>
<p>[srizonfbalbum id=21]</p>
