---
layout: post
status: publish
published: true
title: HRuSHka 2014 a Konference SU
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 678
wordpress_url: http://avc.siliconhill.cz/?p=678
date: '2014-04-08 21:00:33 +0200'
date_gmt: '2014-04-08 19:00:33 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Během letního semestru Silicon Hill a Studentská unie uspořádaly dvě akce pro zvýšení informovanosti svých členů a my a naše technika jsme nemohli chybět.</p>
<p>První akcí byla HRuSKa 2014, která se uskutečnila 8. 4. 2014. Šlo o akci pro aktivní strahováky. Na průběh se můžete podívat ve fotogalerii na stránkách Silicon Hill: https://www.siliconhill.cz/photogalleries/94-hrushka-2014</p>
<p>Druhou akcí byla Konference Studentské unie ČVUT, která byla ve čtvrtek 7. 5. 2014. Krátkou prezentací se představily jednotlivé části SU i jiné studentské spolky. Naším úkolem bylo "prezentovat" projekt AVC v akci - zvučili jsme, svítili a nahrávali.</p>
