---
layout: post
status: publish
published: true
title: Besídka Veselé školky
author:
  display_name: Ivet
  login: pelikive
  email: pelikanovaivet@seznam.cz
  url: ''
author_login: pelikive
author_email: pelikanovaivet@seznam.cz
wordpress_id: 709
wordpress_url: http://avc.siliconhill.cz/?p=709
date: '2014-06-16 19:26:31 +0200'
date_gmt: '2014-06-16 17:26:31 +0200'
categories:
- Live
- Akce
tags: []
---
<p>V pondělí 16. června 2014 jsme se po Čarodějnickém minifestu 2014 vypravili opět mezi děti. Tentokrát nás čekalo zvučení a video záznam Besídky pro rodiče Veselé školky ve Stodůlkách.</p>
<p>Děti s učitelkami nacvičily písničkové pásmo v doprovodu klavíru a pro miniaukci vyrobily různé dárkové a dekorační předměty.</p>
<p>Ve<a title="fotogalerii" href="https://www.facebook.com/media/set/?set=a.754913044560773.1073741831.127723707279713&amp;type=1" target="_blank"> fotogalerii</a> na facebooku se můžete podívat na pár momentek z vystoupení. Děti se snažily a řekla bych, že všichni rodiče byli na své ratolesti patřičně hrdí ;-) .</p>
<p>[srizonfbalbum id=18]</p>
