---
layout: post
status: publish
published: true
title: InstallFest 2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 508
wordpress_url: http://avc.siliconhill.cz/?p=508
date: '2014-03-01 18:01:57 +0100'
date_gmt: '2014-03-01 17:01:57 +0100'
categories:
- Video
tags: []
---
<p>Co má společného Linux a první březnový víkend? InstallFest! Jako již tradičně první víkend v březnu proběhla ve školícím centru klubu Silicon Hill na Strahově konference InstallFest 2014. Letos se mluvilo především o bezpečnosti, zprovozněním IPv6 na strahovských kolejích, problémech při provozu DNS a také o kontejnerové virtualizaci.</p>
<p>AVC.SH akci technicky zajišťovalo. Zvučili jsme na přednáškovém sále, aby bylo všem přednášejícím kanále klubu <a title="Silicon Hill na youtube.com" href="https://www.youtube.com/channel/UCohg1wps0XRWKKOziYYzk3Q">Silicon Hill</a>. Fotogalerii naleznete například na webu <a title="Fotogalerie InstallFest 2014" href="http://www.root.cz/galerie/installfest-2014/">root.cz</a>. Na root.cz můžete najít i článek o <a title="Článek na root.cz" href="http://www.root.cz/clanky/installfest-2014-ipv6-na-strahove-bezpecna-vlan-a-provoz-dns/#ic=gallery-slide&amp;icc=backlink">průběhu akce</a>.</p>
<p>Video archiv:</p>
<p><iframe src="http://www.youtube.com/embed/videoseries?list=PLofm6RaC_O5pdHU4kIuV1dSmW7X5I4OG6" height="350" width="425" allowfullscreen="" frameborder="0"></iframe></p>
