---
layout: post
status: publish
published: true
title: IT.2014
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 662
wordpress_url: http://avc.siliconhill.cz/?p=662
date: '2014-05-23 12:35:44 +0200'
date_gmt: '2014-05-23 10:35:44 +0200'
categories:
- Live
- Video
tags: []
---
<p>Přednášky a workshopy spojené s aktuálními internetovými tématy a technologiemi přinesl další ročník konference Internet a Technologie. Setkání, které uspořádalo sdružení CZ.NIC, správce národní domény .CZ, ve spolupráci s českým peeringovém uzlem NIX.CZ, představilo zajímavé příspěvky od předních internetových odborníků. Konference Internet a Technologie 14 byla určená členům internetové komunity, studentům nebo novinářům.</p>
<p>Na konferenci jsme technicky zajišťovali zvuk a záznam videa. Všechny přednášky jsou k vidění na stránkách <a title="Konference Internet a Technologie" href="http://www.nic.cz/it14/" target="_blank">http://www.nic.cz/it14/</a>.</p>
