---
layout: post
status: publish
published: true
title: SUT 2014 - ZS
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 841
wordpress_url: http://avcb.sh.cvut.cz/?p=841
date: '2014-11-25 19:27:10 +0100'
date_gmt: '2014-11-25 18:27:10 +0100'
categories:
- Akce
- Video
tags: []
---
<p>Záznamy z přednášek Střediska Unixových Technologií Silicon Hill - SUT SH ze zimního semestru 2014 si můžete přehrát v přehrávači nebo se podívat na kanál SUTu na <a href="https://www.youtube.com/playlist?list=PLImsubqVxiKQdqPP9DafBA5P3xd2S_N2d" target="_blank">youtube.com</a>.</p>
<p><iframe src="//www.youtube.com/embed/videoseries?list=PLImsubqVxiKQdqPP9DafBA5P3xd2S_N2d" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
