---
layout: post
status: publish
published: true
title: SUT 2014 - LS
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 576
wordpress_url: http://avc.siliconhill.cz/?p=576
date: '2014-05-04 00:24:12 +0200'
date_gmt: '2014-05-03 22:24:12 +0200'
categories:
- Video
tags: []
---
<p>Záznamy z přednášek Střediska Unixových Technologií Silicon Hill - SUT SH z letního semestru 2014 si můžete přehrát v přehrávači nebo se podívat na kanál SUTu na <a title="SUT.SH na youtube.com" href="https://www.youtube.com/playlist?list=PLofm6RaC_O5rmPzSZRlDUbOu3AIzq-IZf">youtube.com</a>.</p>
<p><iframe src="//www.youtube.com/embed/videoseries?list=PLofm6RaC_O5rmPzSZRlDUbOu3AIzq-IZf" height="315" width="560" allowfullscreen="" frameborder="0"></iframe></p>
