---
layout: post
status: publish
published: true
title: IT 2014.2
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 826
wordpress_url: http://avc.siliconhill.cz/?p=826
date: '2014-11-29 14:53:07 +0100'
date_gmt: '2014-11-29 13:53:07 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Aktuální projekty Laboratoří CZ.NIC, aktivity z prostředí akademické obce, zajímavá témata subjektů z komerční sféry - to byla listopadová konference Internet a Technologie 14.2. Akce, kterou již tradičně pořádalo sdružení CZ.NIC, správce české národní domény, volně navazovala na jarní konferenci <a href="http://www.nic.cz/it14/">Internet a Technologie 14</a>. Přednášky a workshopy věnované například projektům Turris a FENIX, DNS serveru Knot DNS nebo internetová bezpečnosti, byly určeny nejen členům internetové komunity, ale také studentům či novinářům. Partnery setkání byly akademické sdružení CESNET a Fakulta informačních technologií ČVUT.</p>
<p>Na konferenci jsme zajišťovali přenos a záznam videa. Přednášky jsou ke shlédnutí na <a href="http://www.nic.cz/it14.2/" target="_blank">http://www.nic.cz/it14.2/</a>.</p>
