---
layout: post
status: publish
published: true
title: LinuxDays 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1000
wordpress_url: http://avc.siliconhill.cz/?p=1000
date: '2015-11-21 22:20:55 +0100'
date_gmt: '2015-11-21 21:20:55 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>První říjnový víkend se již tradičně pro nás nesl ve znamení Linuxu. Velká konference pořádaná v prostorách Fakulty informačních technologií v nové budově ČVUT v kampusu v Dejvicích. Letos 4 místnosti se záznamem, paralelní stream ze dvou hlavních ve FullHD a 4k záznam z té nejhlavnější. Letos nás moc vidět nebylo, protože jsme se s celou režií přesunuli mimo přednáškové místnosti a vytvořili centrální pracoviště ;) A také jsme do naší zoo k Tuxovi přidali Geeka ;)</p>
<p>Fotoreport z akce naleznete např. na root.cz (<a title="Linux days 2014 - sobota" href="http://www.root.cz/galerie/linuxdays-2015-sobota/#1" target="_blank">sobota</a>, <a href="http://www.root.cz/galerie/linuxdays-2015-nedele/" target="_blank">neděle</a>).</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLlTxFw5y5UZt-yj1ijhIGzwCsRmRwYn_0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
