---
layout: post
status: publish
published: true
title: Studentský ples ČVUT 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 893
wordpress_url: http://avc.siliconhill.cz/?p=893
date: '2015-03-20 22:48:11 +0100'
date_gmt: '2015-03-20 21:48:11 +0100'
categories:
- Live
- Akce
tags: []
---
<p>V pátek 20.3. se v prostorech Masarykovy koleje uskutečnil Studentský ples ČVUT, tentokrát ve stylu Punk's not dead. Naší prací bylo jako vždy akci ozvučit a nasvítit.<br />
Všechny fotky naleznete v <a href="https://www.facebook.com/media/set/?set=a.783626278357208.1073741833.241026692617172&amp;type=1" target="_blank">této</a> galerii.</p>
<p>[srizonfbalbum id=25]</p>
