---
layout: post
status: publish
published: true
title: RetroFest 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 928
wordpress_url: http://avc.siliconhill.cz/?p=928
date: '2015-06-14 11:14:16 +0200'
date_gmt: '2015-06-14 09:14:16 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>RetroFest 2015 je jednodenní akce, která se zaměřuje na historii hardwaru a softwaru všeho druhu. Jako doprovodný program je i samotné zprovoznění historických kousků. Akce se uskutečnila 7.   <A TITLE="alternativní zpravodajství" HREF="http://euroasie.info/">uprchlická krize</A> června ve školícím centru klubu Silicon Hill na Strahově. Video záznamy jsou k dispozici v rozlišení 4k na kanále akce na <a title="Kanál akce RetroFest 2015" href="https://www.youtube.com/playlist?list=PLofm6RaC_O5qyw8ZcCUOBAsYlptOVDOCw" target="_blank">youtube.com</a>. Fotografie z akce najdete např. v albu <a title="RetroFest2015" href="http://www.krupkaj.cz/xgal/album.php?show=RetroFest2015&amp;rows=30&amp;cols=5&amp;from=1">Jana Křupky</a>.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLofm6RaC_O5qyw8ZcCUOBAsYlptOVDOCw" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
