---
layout: post
status: publish
published: true
title: CryptoFest 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 925
wordpress_url: http://avc.siliconhill.cz/?p=925
date: '2015-06-14 11:14:03 +0200'
date_gmt: '2015-06-14 09:14:03 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Sobata 6. června byla na Strahově ve znamení konference CryptoFest 2015 pořádané klubem Silicon Hill. CryptoFest je jednodenní přednáškový seminář zaměřený na technologie i teorii zabezpečeně dat za pomoci šifrování. Naším úkolem bylo již tradičně akci zaznamenat a odvysílat do světa. Stejně jako na <a title="InstallFest 2015" href="http://avc.siliconhill.cz/installfest-2015/">InstallFest 2015</a> probíhal záznam hlavní místnosti v rozlišení 4k  a druhý track přednášek byl produkován ve Full HD.</p>
<p>Záznam všech přednášek i seminářů je k dispozici na <a title="Kanál akce na youtube.com" href="https://www.youtube.com/watch?v=2xrMHRZg7R0&amp;list=PLofm6RaC_O5pNm8HCGZQsDdqKsatdc3tt" target="_blank">youtube</a>.<br />
<iframe src="https://www.youtube.com/embed/videoseries?list=PLofm6RaC_O5pNm8HCGZQsDdqKsatdc3tt" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe> <A TITLE='Prodej ready made' HREF='http://www.fulmira.cz' >Firemní struktury</A></p>
