---
layout: post
status: publish
published: true
title: SHOW 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 906
wordpress_url: http://avc.siliconhill.cz/?p=906
date: '2015-05-07 13:09:29 +0200'
date_gmt: '2015-05-07 11:09:29 +0200'
categories:
- Live
- Akce
tags: []
---
<p>Letošní SHOW se z důvodů rekonstrukce Kolejí Strahov konala v pozměněném formátu, tentokrát jako klubová dvoudenní akce - Warm up párty a Strahovská noc. Jako již obvykle bylo naším úkolem zajistit hladký průběh akce v Baru 10. Fotografie z akce jsou k nalezení <a title="Warm-up párty" href="https://www.facebook.com/media/set/?set=a.674056876074046.1073741839.221106574702414&amp;type=1">zde</a> a <a title="Strahovská noc" href="https://www.facebook.com/media/set/?set=a.672678909545176.1073741838.221106574702414&amp;type=1">zde</a>.http://avc.siliconhill.cz/show-2015/</p>
