---
layout: post
status: publish
published: true
title: Noc na Jaderce 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1048
wordpress_url: http://avc.siliconhill.cz/?p=1048
date: '2015-11-02 22:26:13 +0100'
date_gmt: '2015-11-02 21:26:13 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Noc na Jaderce je večerní zábavně-naučná akce pořádaná Studentskou unií při Fakultě jaderné a fyzikálně inženýrské ČVUT, z.s. pro studenty a zaměstnance fakulty, jejich přátele, známé a v neposlední řadě také pro širokou veřejnost. Konala se v prostorách fakulty dne 2. listopadu 2015.</p>
<p>Akce je to poměrně mladičká, letos se konal její teprve druhý ročník, který byl zároveň součástí oslav 60. výročí od založení FJFI.</p>
<p>AVC.SH se postaralo o zvuk a světelnou atmosféru v prostorách studovny, kde se celý večer uskutečňovali koncerty studentských kapel.</p>
<p>Více o akci na <a href="https://www.facebook.com/events/1514878122168147/?active_tab=about">stránkách SU FJFI</a>.</p>
