---
layout: post
status: publish
published: true
title: Liftago - Tesla
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 880
wordpress_url: http://avc.siliconhill.cz/?p=880
date: '2015-04-18 18:50:34 +0200'
date_gmt: '2015-04-18 16:50:34 +0200'
categories:
- Video
tags: []
---
<p>Koncem roku 2014 jsme se ve spolupráci s našimi přáteli z Flamesite podíleli na výrobě propagačních klipů firmy Liftago. První klip je s jejich úžasným automobilem Tesla P85+. Pěkné poježděníčko to bylo ;-)</p>
<div id="fb-root"></div>
<p><script>// <![CDATA[<br />
(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&#038;version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));<br />
// ]]></script></p>
<div class="fb-video" data-allowfullscreen="true" data-href="/Liftago/videos/vb.384386858342009/752563958190962/?type=1">
<div class="fb-xfbml-parse-ignore">
<blockquote cite="/Liftago/videos/752563958190962/"><p>Jak to vypadá, když vás vozíme v Tesle.</p>
<p>Posted by <a href="https://www.facebook.com/Liftago">Liftago</a> on 13. březen 2015</p></blockquote>
</div>
</div>
