---
layout: post
status: publish
published: true
title: Strahov Open Air 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 998
wordpress_url: http://avc.siliconhill.cz/?p=998
date: '2015-10-07 19:17:05 +0200'
date_gmt: '2015-10-07 17:17:05 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Již devatenáctý ročník legendárního open air festivalu na Strahovských kolejích. AVC.SH zajišťovalo světelnou a zvukovou techniku na stage v Baru 10 a video přenos na projekci na hlavní stage.</p>
<p>Fotogalerie je stránkách <a href="https://www.facebook.com/1446471142347491/photos/?tab=album&amp;album_id=1490390127955592">Strahov Open Air</a>.</p>
