---
layout: post
status: publish
published: true
title: IT 2015.1
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 934
wordpress_url: http://avc.siliconhill.cz/?p=934
date: '2015-06-14 11:14:30 +0200'
date_gmt: '2015-06-14 09:14:30 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Přednášky o aktuálních internetových tématech a technologiích přinesl další ročník konference Internet a Technologie (IT 15). Setkání, které pořádalo sdružení CZ.NIC, správce národní domény .CZ, ve spolupráci s českým peeringovým uzlem NIX.CZ, bylo určeno členům internetové komunity, studentům IT, ale také běžným uživatelům Internetu</p>
<p>Na konferenci jsme zajišťovali přenos a záznam videa. Přednášky jsou ke shlédnutí na <a href="http://www.nic.cz/it15/" target="_blank">http://www.nic.cz/it15/</a>.</p>
