---
layout: post
status: publish
published: true
title: Otevřená Wokna
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 915
wordpress_url: http://avc.siliconhill.cz/?p=915
date: '2015-05-21 00:19:05 +0200'
date_gmt: '2015-05-20 22:19:05 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>V pátek 15. května se ve Školícím centru klubu Silicon Hill uskutečnil první ročník konference Otevřená Wokna pořádané klubem Silicon Hill a Microsoft Cz. Technického zajištění jsme se ujali my a záznamy z akce můžete vidět ve 4k rozlišení z hlavní místnosti a FullHD z workshopů na <a title="Otevřená Wokna" href="https://www.youtube.com/playlist?list=PLofm6RaC_O5rdE6gheUBCasFedO7NL0Q-">youtube kanálu</a> akce.<br />
<iframe src="https://www.youtube.com/embed/videoseries?list=PLofm6RaC_O5rdE6gheUBCasFedO7NL0Q-" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>http://avc.siliconhill.cz/otevrena-wokna/</p>
