---
layout: post
status: publish
published: true
title: Den otevřených dveří vol 4k
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 861
wordpress_url: http://avc.siliconhill.cz/?p=861
date: '2015-03-02 23:32:16 +0100'
date_gmt: '2015-03-02 22:32:16 +0100'
categories:
- Vzdělávání
- Akce
tags: []
---
<p>Na začátek letního semestru jsme pro Vás připravili ukázku naší nové techniky v rámci Dne otevřených dveří. Ten se uskutečnil 2. března a hlavní předváděnou novinkou byl video řetězec pro live produkci v rozlišení 4k. V rámci prezentace nám naši přátelé z Flamesite přivezli také ukázat filmovou kameru RED. A samozřejmě nechyběla nová zvuková a světelná technika. Celý fotoreport si můžete prohlédnout <a href="https://www.facebook.com/media/set/?set=a.890333697685373.1073741841.127723707279713&amp;type=3">zde</a>.</p>
<p>[srizonfbalbum id=24]</p>
