---
layout: post
status: publish
published: true
title: InstallFest 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 865
wordpress_url: http://avc.siliconhill.cz/?p=865
date: '2015-03-08 22:55:09 +0100'
date_gmt: '2015-03-08 21:55:09 +0100'
categories:
- Live
- Video
tags: []
---
<p>O víkendu 7. a 8. března probíhal na Strahově další (šestý obnovený) ročník tradiční konference InstallFest pořádané klubem Silicon Hill. Naším úkolem bylo již tradičně akci zaznamenat a odvysílat do světa. Pro letošní rok jsme si připravili několik novinek, především jsme představili celý produkční video řetězec ve 4k. Hlavní místnost je tedy kompletně zaznamenána a vystavena ve 4k a druhý track přednášek je ve Full HD.</p>
<p>Zajímavý článek o dění na InstallFestu od Petra Krčmáře si můžete pročíst na serveru <a href="http://www.root.cz/clanky/turris-lite-bude-spise-heavy-installfest-2015/" target="_blank">root.cz</a>, galerie fotografií od Petra jsou pak k dispozici jak ze <a href="http://www.root.cz/clanky/galerie-sobota-na-konferenci-installfest-2015/" target="_blank">soboty</a>, tak z <a href="http://www.root.cz/clanky/galerie-nedele-na-konferenci-installfest-2015/" target="_blank">neděle</a>. (Úvodní fotografie je také od Petra Krčmáře).</p>
<p>Na tomto místě bychom rádi poděkovali sdružení Cesnet za zapůjčení kamery.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLub6xBWO8gV-4eB08lokJyoBScu5nYfVQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
