---
layout: post
status: publish
published: true
title: Bažantrikulace 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1046
wordpress_url: http://avc.siliconhill.cz/?p=1046
date: '2015-12-08 17:22:38 +0100'
date_gmt: '2015-12-08 16:22:38 +0100'
categories:
- Live
tags: []
---
<p>Ve večerních hodinách 8. prosince 2015 se ve strahovské menze uskutečnil tradiční křest prváků FJFI - Bažantrikulace. Křestu předcházelo divadelní představení 10 mladých bažntů a po křestu následovali DJs a párty na oslavu. Světla a zvuk byla naše práce ;-).</p>
<p>Fotogalerie <a href="https://www.facebook.com/media/set/?set=a.10153767210711322.1073741843.71955061321&amp;type=3">Bažantrikulace 2015</a>.</p>
