---
layout: post
status: publish
published: true
title: XXII. Všejaderná Fúze
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 904
wordpress_url: http://avc.siliconhill.cz/?p=904
date: '2015-05-07 12:55:14 +0200'
date_gmt: '2015-05-07 10:55:14 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>V krásných prostorách Národního domu Na Smíchově se 23.4. uskutečnil již 22.  http://avc.siliconhill.cz/xxii-vsejaderna-fuze/ročník Všejaderné Fúze pořádané Studentskou unií FJFI.<br />
Na akci jsme technicky zajišťovali druhou stage v Dolním sále a zároveň jsme natáčeli záznam tradiční divadelní hry. Fotografie z akce můžete nalézt na profilu <a title="Fotogalerie z plesu" href="https://www.facebook.com/media/set/?set=a.10153265401041322.1073741839.71955061321&amp;type=1" target="_blank">SU FJF</a>I.</p>
