---
layout: post
status: publish
published: true
title: ČVUT na Majáles 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 890
wordpress_url: http://avc.siliconhill.cz/?p=890
date: '2015-04-18 19:27:41 +0200'
date_gmt: '2015-04-18 17:27:41 +0200'
categories:
- Video
tags: []
---
<p>Znáte ČVUTího lva? My už ano ;-). Ve středu 18. 3. 2015 jsme totiž natáčeli video pro propagaci ČVUT na Majáles 2015. Byla sice ještě trochu zima na vodní radovánky u bazénu, ale naši aktéři - David (loňský král ČVUT), <a href="http://praha.majales.cz/kral/mykhaylos-partes/" target="_blank">Michal</a> (letošní král ČVUT) a <a href="http://praha.majales.cz/miss/cvut/" target="_blank">Terka</a> (miss ČVUT) si s tím s grácií poradili a vzali to jako lekci otužování :-). A jak zvládl natáčení ČVUTí lev, na to se už musíte podívat do videa. Nezapomeňte po shlédnutí hlasovat na stránkách Majálesu pro <a href="http://praha.majales.cz/kral/mykhaylos-partes/" target="_blank">našeho krále</a>, abychom mohli obhájit loňské vítězství a 1. května v Letňanech třeba naviděnou. :-)<br />
<iframe src="https://www.youtube.com/embed/NsRMIvu2GXw" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
