---
layout: post
status: publish
published: true
title: SUT 2015 - LS
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 901
wordpress_url: http://avc.siliconhill.cz/?p=901
date: '2015-04-19 13:26:55 +0200'
date_gmt: '2015-04-19 11:26:55 +0200'
categories:
- Akce
- Video
tags: []
---
<p>Záznamy z přednášek Střediska Unixových Technologií Silicon Hill - SUT SH z letního semestru 2015 si můžete přehrát v přehrávači nebo se podívat na kanál SUTu na <a href="https://www.youtube.com/playlist?list=PLImsubqVxiKS8gqRarEHaYMd1tORjCmmh" target="_blank">youtube.com</a>.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ZpSJ9yFc9cc?list=PLImsubqVxiKS8gqRarEHaYMd1tORjCmmh" frameborder="0" allowfullscreen></iframe>http://avc.siliconhill.cz/sut-2015-ls/</p>
