---
layout: post
status: publish
published: true
title: Silent Disco
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1043
wordpress_url: http://avc.siliconhill.cz/?p=1043
date: '2016-02-25 23:13:14 +0100'
date_gmt: '2016-02-25 22:13:14 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Ve čtvrtek 25. února jsme měli na starosti techniku na dvou akcí. Zvuk na akci Linky před budovou FEL ČVUT a Silent Disco na Fakultě stavební ČVUT.</p>
<p>Silent Disco pořádal studentská klub ŠTUK v prostorách atria FSv ČVUT a naším úkolem bylo dodat celé akci tu správnou světelnou atmosféru.</p>
<p>Fotoreporty z <a href="https://www.facebook.com/events/975397859221761/permalink/989535051141375/">akce</a> jsou k nalezení na <a href="https://www.facebook.com/media/set/?set=a.1006445849404539.1073741864.534388616610267&amp;type=3">facebooku</a>.</p>
