---
layout: post
status: publish
published: true
title: LinuxDays 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1084
wordpress_url: http://avc.siliconhill.cz/?p=1084
date: '2016-10-08 10:00:47 +0200'
date_gmt: '2016-10-08 08:00:47 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Letošní ročník se uskutečnil <strong>8. a 9. října 2016</strong> v Praze v <strong>areálu ČVUT</strong> v Dejvicích na Fakultě Informačních Technologií. Již tradiční akce, na které jsme tento rok zajišťovali stream a záznam ze 4 místností zároveň a ještě zbyla trocha síly na náš propagační stánek. Všechny záznamy jsou k dispozici níže. Více informací o akci na <a href="https://www.linuxdays.cz/2016/">www.linuxdays.cz</a>.</p>
<p>Fotogalerie jsou na webu root.cz k dispozici ze <a href="https://www.root.cz/galerie/linuxdays-2016-sobota/">soboty</a> a z <a href="https://www.root.cz/galerie/linuxdays-2016-nedele/">neděle</a>.</p>
<p><iframe src="https://www.youtube.com/embed/gedD2N-_8-c?list=PLlTxFw5y5UZusM1lQWXcUthuXJ7t-puZO" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
