---
layout: post
status: publish
published: true
title: Bastlířské středy 2015
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1021
wordpress_url: http://avc.siliconhill.cz/?p=1021
date: '2016-01-05 16:30:19 +0100'
date_gmt: '2016-01-05 15:30:19 +0100'
categories:
- Akce
- Video
tags: []
---
<p>Záznamy z přednášek Bastlířských střed pořádaných v zimním semestru 2015 jsou k dispozici na <a href="https://www.youtube.com/playlist?list=PLofm6RaC_O5qG42k9ak52p3zUWyWbRpHu">kanále youtube</a>. Bastlířské středy jsou pravidelně nepravidelné večerní semináře o elektronice, vesmíru a tak vůbec, pořádané projektem <a href="http://macgyver.sh.cvut.cz/">MacGyver - bastlíři SH</a>.<br />
<iframe src="https://www.youtube.com/embed/videoseries?list=PLofm6RaC_O5qG42k9ak52p3zUWyWbRpHu" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
