---
layout: post
status: publish
published: true
title: PyCon CZ 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1181
wordpress_url: http://avc.siliconhill.cz/?p=1181
date: '2016-10-30 21:20:48 +0100'
date_gmt: '2016-10-30 20:20:48 +0100'
categories:
- Akce
- Video
tags: []
---
<p>PyCon CZ aims to be the largest annual gathering for the Python community in the Czech Republic. It's focused on honoring and supporting awesome people teaching, learning and innovating with Python in Czech Republic and surrounding EU.</p>
<p>Video recordings by AVC SiliconHill.<br />
<iframe src="https://www.youtube.com/embed/videoseries?list=PLyde45Tox-NfsQYj0AuToQNQehYIItZg6" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
