---
layout: post
status: publish
published: true
title: InstallFest 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1037
wordpress_url: http://avc.siliconhill.cz/?p=1037
date: '2016-03-08 13:56:22 +0100'
date_gmt: '2016-03-08 12:56:22 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Již tradičně se v první březnový víkend proměnilo Školící centrum klubu Silicon Hill v místo setkání začátečníků s ostřílenými linuxáky. Na programu byla široká škála přednášek i workshopů ze světa GNU/Linuxu a síťových technologií.</p>
<p>AVC.SH jako vždy akci technicky zajišťovala - zvuk a video přenos. Tento ročník jsme streamovali v HD ze třech místností a hlavní track byl zaznamenán v rozlišení 4k.</p>
<p>Fotoreport je k dispozici u článku na <a href="http://www.root.cz">root.cz</a> (<a href="https://www.root.cz/galerie/installfest-2016-sobota/">sobota</a>, <a href="https://www.root.cz/galerie/installfest-2016-nedele/">neděle</a>).</p>
<p>Všechny přednášky si můžete pustit na youtube kanále <a href="https://www.youtube.com/watch?v=6kuH9ZYevPk&amp;list=PLub6xBWO8gV_Mr-UuxrHcfUbuGv5n_N5g">InstallFestu</a>.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLub6xBWO8gV_Mr-UuxrHcfUbuGv5n_N5g" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
