---
layout: post
status: publish
published: true
title: Bažantrikulace 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1171
wordpress_url: http://avc.siliconhill.cz/?p=1171
date: '2016-11-29 21:38:30 +0100'
date_gmt: '2016-11-29 20:38:30 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Křest prváků FJFI a především divadelní hra 01UČJ - Úvod do českého jádra. Tradiční podzimní akce konaná v menze na Strahově.</p>
<p>AVC SiliconHill se jako vždy postaralo o světlo a zvuk.</p>
