---
layout: post
status: publish
published: true
title: Noc na Jaderce 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1173
wordpress_url: http://avc.siliconhill.cz/?p=1173
date: '2016-11-15 21:54:03 +0100'
date_gmt: '2016-11-15 20:54:03 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Noc na Jaderce je večerní kulturně-vzdělávací akce pořádaná Studentskou unií při Fakultě jaderné a fyzikálně inženýrské ČVUT, z.s. pro studenty a zaměstnance fakulty, jejich přátele, známé a v neposlední řadě také pro širokou veřejnost a firmy spolupracující s fakultou. Akce je to poměrně mladičká, letos se konal její teprve třetí ročník.</p>
<p>AVC SiliconHill zajišťovalo ozvučení a světlo v Studovně, kde v průběhu večera vystupovaly především studentské kapely.</p>
<p>Fotoreport z akce jek nalezení v facebookové stránce <a href="https://www.facebook.com/pg/sufjfi/photos/?tab=album&amp;album_id=10154705498086322">Studentské unie FJFI</a>.</p>
