---
layout: post
status: publish
published: true
title: TEDxPrague 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1197
wordpress_url: http://avc.siliconhill.cz/?p=1197
date: '2016-10-30 22:22:43 +0100'
date_gmt: '2016-10-30 21:22:43 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>TEDxPrague je festival myšlenek hodných sdílení. Již sedmý ročník TEDxPrague se uskutečnil v neděli, 30. října 2016. Aby mohlo být posluchačů co nejvíce, akce se konala v  multifunkčních prostorách Fora Karlín. A jaké bylo téma setkání? Naše a cizí. TEDx je tradičně příležitostí, kdy se propojují zdánlivě vzdálené myšlenky do jedné pestré mozaiky. Více informací o akci je na webu akce na <a href="http://www.tedxprague.cz/udalosti/tedxprague-2016">tedxprague.cz</a> nebo na <a href="https://www.facebook.com/tedxprague/">facebooku</a>.</p>
<p>AVC SiliconHill zajišťovalo záznam a přenos akce.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLv2Gddiib8fbQPSmq-97ErgA1I4iwwDvj" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
