---
layout: post
status: publish
published: true
title: Strahov Open Air 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1168
wordpress_url: http://avc.siliconhill.cz/?p=1168
date: '2016-10-06 19:55:30 +0200'
date_gmt: '2016-10-06 17:55:30 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Výroční 20. ročník Strahov OpenAir 2016. AVC SiliconHill zajišťovalo zvukovou a světelnou techniku na stage v Baru 10 a na hlavní stage zajišťovalo video projekci na LED panely na hlavní stage.</p>
<p>Fotogalerie na FB stránce <a href="https://www.facebook.com/pg/strahovopenair/photos/?tab=album&amp;album_id=1708075659520370">Strahov OpenAir</a>.</p>
