---
layout: post
status: publish
published: true
title: IT 2015.2
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1005
wordpress_url: http://avc.siliconhill.cz/?p=1005
date: '2016-01-05 22:15:37 +0100'
date_gmt: '2016-01-05 21:15:37 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Přednášky o aktuálních internetových tématech a technologiích přinesla další konference Internet a Technologie (IT 15.2). Setkání pořádalo sdružení CZ.NIC, správce národní domény .CZ, ve spolupráci s akademickým sdružením CESNET a Matematicko-fyzikální fakultou Univerzity Karlovy a bylo určeno členům internetové komunity, studentům IT, ale také běžným uživatelům Internetu.</p>
<p>Na konferenci jsme zajišťovali přenos a záznam videa. Přednášky jsou ke shlédnutí na <a href="http://www.nic.cz/it15.2/" target="_blank">http://www.nic.cz/it15.2/</a>.</p>
