---
layout: post
status: publish
published: true
title: Linky
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1040
wordpress_url: http://avc.siliconhill.cz/?p=1040
date: '2016-02-25 22:00:37 +0100'
date_gmt: '2016-02-25 21:00:37 +0100'
categories:
- Live
- Akce
tags: []
---
<p>Ve čtvrtek 25. února 2016 proběhlo slavnostní zahájení provozu interaktivní fasády budovy FEL ČVUT. Naším úkolem bylo celou akci nazvučit. Více informací o akci k nalezení na stránce <a href="https://www.facebook.com/events/672105829594457/?active_tab=posts">události</a>. Fotografie a video záznamy z akce můžete nalézt např. na <a href="http://www.lidovky.cz/fakulta-v-dejvicich-ma-svetelnou-fasadu-lide-ji-budou-moci-menit-psw-/design.aspx?c=A160306_170812_ln-bydleni_toh">lidovky.cz</a>, <a href="http://praha.idnes.cz/nova-interaktivni-fasada-budovy-cvut-dwa-/praha-zpravy.aspx?c=A160225_143547_praha-zpravy_nub">idnes.cz</a> a na <a href="https://www.youtube.com/watch?v=6kuH9ZYevPk&amp;list=PLub6xBWO8gV_Mr-UuxrHcfUbuGv5n_N5g">youtube</a>,</p>
