---
layout: post
status: publish
published: true
title: SHOW 2016
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1066
wordpress_url: http://avc.siliconhill.cz/?p=1066
date: '2016-04-20 19:27:58 +0200'
date_gmt: '2016-04-20 17:27:58 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p><a href="http://show.sh.cvut.cz/">Silicon Hill Open Wednesday</a> neboli SHOW je studentský projekt vzniklý v rámci projektů klubu Silicon Hill, jehož cílem je vytvoření open air studentského více-žánrového koncertu s doprovodným programem.</p>
<p>Projekt je určen především pro mladé hudební naděje z řad studentů, kteří se jinak k účasti na akcích podobného formátu dostanou jen zřídka. Jako účinkující se zde mohou představit širší veřejnosti, získat nové posluchače a cenné zkušenosti s vystupováním pro veřejnost. Získají také možnost vlastní prezentace před manažery z české hudební scény a získání nových kontaktů, čímž mohou v budoucnu zahájit svoji spolupráci.</p>
<p>SHOW patří mezi největší akce AVC.SH, kdy v letošním roce AVC zajišťovalo světelnou a zvukovou techniku na stage v Baru 10, na hlavní stage zajišťovalo přímý přenos do internetu, natáčelo timelapse a aftermovie a naši členové také zajišťovali světla i zvuk na hlavní stage.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLofm6RaC_O5q2JN-9NmMdG_CbYGgy2mSq" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
