---
layout: post
status: publish
published: true
title: Seminář IPv6
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1073
wordpress_url: http://avc.siliconhill.cz/?p=1073
date: '2016-06-06 09:00:58 +0200'
date_gmt: '2016-06-06 07:00:58 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Při příležitosti magického data 6. 6. 2016 pořádáme jednodenní seminář o protokolu IPv6. Přestože je tento protokol často označován jako „nový“, ve skutečnosti od zveřejnění jeho první verze uplynulo už víc než 20 let – dokument RFC 1883 vyšel již v prosinci 1995. K reálnému použití se však dostává až v současné době, kdy velká část světa pocítila na vlastní kůži vyčerpání zásoby adres protokolu IPv4.</p>
<p>Na semináři vystoupí odborníci ze sdružení CESNET a členských univerzit, stejně jako hosté ze sdružení CZ.NIC. Návštěvníci budou moci vyzkoušet připojení k IPv6-only síti. Seminář je určen pro širokou veřejnost.</p>
<p>Audiovizuální centrum Silicon Hill celou akci zaznamenává a spostředkovává přímý přenos.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLvwguJ6ySH1dzTDNESyD6_jiGBRXdZUog" frameborder="0" allowfullscreen></iframe></p>
