---
layout: post
status: publish
published: true
title: Internet a technologie 16
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1068
wordpress_url: http://avc.siliconhill.cz/?p=1068
date: '2016-06-03 15:15:34 +0200'
date_gmt: '2016-06-03 13:15:34 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Konference Internet a technologie (16) přinesla témata spojená s doménami, internetovými technologiemi a Internetem samotným. Setkání pořádalo sdružení CZ.NIC, správce národní domény .CZ, ve spolupráci s Fakultou informačních technologií ČVUT a českým peeringovým uzlem NIX.CZ. Konference byla určena členům internetové komunity, studentům IT, ale také běžným uživatelům Internetu.</p>
<p>AVC.SH již tradičně zajišťovala přenos a záznam z konference.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PL4VG-OTSU3QrddBAbDqWZgxlVoSfvwRlq" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
