---
layout: post
status: publish
published: true
title: Festival svobody - Koncert pro budoucnost
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1175
wordpress_url: http://avc.siliconhill.cz/?p=1175
date: '2016-11-17 20:12:47 +0100'
date_gmt: '2016-11-17 19:12:47 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Festival svobody, který vůbec poprvé společně zorganizovalo sedm občanských iniciativ, přilákal desítky tisíc návštěvníků. Uctít památku 17. listopadu na Albertově přišlo minimálně 6 300 lidí, samotné finále všech akcí, Koncert pro budoucnost a akce Občanský BUDÍČEK, přilákalo na Václavské náměstí nejméně 40 000 lidí.</p>
<p>AVC SiliconHill se podílelo na Koncertu pro budoucnost z Václavského náměstí. Zajišťovali jsme záznam a přenos koncertu jak do internetu, tak na LED obrazovky na Václavském náměstí. 40 000 lidí na místě, další tisíce na dalších náměstích nebo u počítačů.</p>
<p>Video s přímým přenosem:<br />
<iframe src="https://www.youtube.com/embed/WMW3JzY-5y8" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
