---
layout: post
status: publish
published: true
title: SUT 2015 - ZS
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1018
wordpress_url: http://avc.siliconhill.cz/?p=1018
date: '2016-01-05 16:25:48 +0100'
date_gmt: '2016-01-05 15:25:48 +0100'
categories:
- Akce
- Video
tags: []
---
<p>Záznamy z přednášek Střediska Unixových Technologií Silicon Hill - SUT SH ze zimního semestru 2015 si můžete přehrát v přehrávači nebo se podívat na kanál SUTu na <a href="https://www.youtube.com/playlist?list=PLImsubqVxiKSXTr9kCWqTKgQ1jUAbb96R" target="_blank">youtube.com</a>.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLImsubqVxiKSXTr9kCWqTKgQ1jUAbb96R" frameborder="0" allowfullscreen></iframe></p>
