---
layout: post
status: publish
published: true
title: SUT 2016 - LS
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1055
wordpress_url: http://avc.siliconhill.cz/?p=1055
date: '2016-03-29 13:58:05 +0200'
date_gmt: '2016-03-29 11:58:05 +0200'
categories:
- Akce
- Video
tags: []
---
<p>Záznamy z přednášek Střediska Unixových Technologií Silicon Hill - SUT SH z letního semestru 2015/2016 si můžete přehrát v přehrávači nebo se podívat na kanál SUTu na <a href="https://www.youtube.com/channel/UCog6OBxecLkTxmI_8UKdpLg" target="_blank">youtube.com</a>.<br />
<iframe src="https://www.youtube.com/embed/cLnMwKZHzT8?list=PLImsubqVxiKRscN6p51OTUDJABTaMbntY" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
