---
layout: post
status: publish
published: true
title: Internet a technologie 2016.2
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1164
wordpress_url: http://avc.siliconhill.cz/?p=1164
date: '2016-12-03 19:48:43 +0100'
date_gmt: '2016-12-03 18:48:43 +0100'
categories:
- Akce
- Video
tags: []
---
<p>V sobotu 3. 12. 2016 proběhlo volné pokračování konference Internet a Technologie. Zazněly zajímavé přednášky na aktuální internetová témata a technologie. V jednotlivých příspěvcích byly odprezentovány novinky z projektů Turris Omnia, Knot DNS, Knot DNS Resolver, mojeID nebo účastníci vyslechli výstupy týkající se bezpečnosti IoT zařízení a o eliptických křivkách KeySetu. Velký zájem vzbudily workshopy, na kterých se zájemci mohli blíže seznámit s routerem Turris Omnia a byl jim představen výukový EduShield pro Arduiono. Konferenci pořádalo sdružení CZ.NIC, správce české domény ve spolupráci s Fakultou informačních technologií ČVUT a byla určena členům internetové komunitě, studentům IT, ale také běžným uživatelům Internetu.</p>
<p>AVC SiliconHill již tradičně zajišťovala přenos a záznam akce.<br />
<iframe src="https://www.youtube.com/embed/0fDdx9LWePw?list=PL4VG-OTSU3QqBAveE-01KcC2jGceHIexb" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
