---
layout: post
status: publish
published: true
title: Festival svobody 2017
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1287
wordpress_url: http://avc.siliconhill.cz/?p=1287
date: '2017-11-17 23:41:15 +0100'
date_gmt: '2017-11-17 22:41:15 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Sváteční den 17. listopadu patřil v Praze a dalších českých a moravských městech Festivalu svobody. Ten nabídl desítky kulturních akcí, happeningů, průvodů i občanských setkání. Pražská část festivalového programu přilákala do ulic navzdory sychravému počasí více než 100 000 návštěvníků. Završením festivalových akcí byl Koncert pro budoucnost, během něhož proběhl symbolický akt Pozor, Občané! Ten byl jako výraz odhodlání chránit demokratické principy této země doprovázený společným pískáním na píšťalky. Koncert, který na Václavské náměstí přilákal nejméně 62 000 lidí, představil i šestimetrovou instalaci Tři špejle ztělesňující pilíře demokracie.</p>
<p>podílelo na Koncertu pro budoucnost z Václavského náměstí. Zajišťovali jsme záznam a přenos koncertu jak do internetu, tak na LED obrazovky na Václavském náměstí. 60 000 lidí na místě, další tisíce na dalších náměstích nebo u počítačů.</p>
<p>Více informací na <a href="http://www.festivalsvobody.cz/">http://www.festivalsvobody.cz/</a>.<br />
Video s přímým přenosem:<br />
<iframe src="https://www.youtube.com/embed/cDjBJtbHZqc" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
