---
layout: post
status: publish
published: true
title: Seminář IPv6 2017
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1248
wordpress_url: http://avc.siliconhill.cz/?p=1248
date: '2017-06-06 11:58:42 +0200'
date_gmt: '2017-06-06 09:58:42 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Po roce opět sdružení CESNET pořádá seminář zaměřený na internetový protokol nové generace. Na základě ohlasů z předchozího ročníku bude více zohledňovat začátečníky, kteří doposud s IPv6 nemají mnoho zkušeností. Nebudou však chybět ani odborné příspěvky a exkluzivní informace o aktuálních tématech. Tím je například nasazování IPv6 v přístupových sítích, kterému budeme věnovat celý blok.</p>
<p>Na semináři vystoupí kromě odborníků sdružení CESNET také zástupci české internetové komunity. Na semináři bude opět možné vyzkoušet provoz na IPv6-only síti.</p>
<p>Partnerem semináře je server <a href="https://www.root.cz/">Root.cz</a>.</p>
<p>AVC Silicon Hill opět zajišťuje záznam a přenos z akce.<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLvwguJ6ySH1fomLYmFle4x9rDETdQwLlS" frameborder="0" allowfullscreen></iframe></p>
