---
layout: post
status: publish
published: true
title: Internet a Technologie 17.2
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1283
wordpress_url: http://avc.siliconhill.cz/?p=1283
date: '2017-11-24 00:34:31 +0100'
date_gmt: '2017-11-23 23:34:31 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Dne 24. listopadu 2017 proběhl další ročník konference <a href="https://www.nic.cz/it17.2/" target="_blank">Internet a Technologie</a>. Zazněly zajímavé přednášky na aktuální internetová témata a technologie. Setkání pořádalo sdružení CZ.NIC, správce národní domény .CZ. Konference byla určena členům internetové komunity, studentům IT, ale také běžným uživatelům Internetu.</p>
<p>AVC Silicon Hill již pravidelně zajišťuje přímý přenos a záznam celé akce.</p>
<p>&nbsp;<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4VG-OTSU3QqJB5A1ol20S9qFHO7ksv5y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></p>
