---
layout: post
status: publish
published: true
title: Internet a Technologie 17
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1258
wordpress_url: http://avc.siliconhill.cz/?p=1258
date: '2017-06-21 09:35:15 +0200'
date_gmt: '2017-06-21 07:35:15 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Ve dnech 20. a 21. června 2017 proběhl další ročník konference <a href="https://www.nic.cz/it17/" target="_blank">Internet a Technologie</a>. Zazněly zajímavé přednášky na aktuální internetová témata a technologie. Setkání pořádalo sdružení CZ.NIC, správce národní domény .CZ, ve spolupráci s Fakultou elektrotechnickou ČVUT. Konference byla určena členům internetové komunity, studentům IT, ale také běžným uživatelům Internetu.</p>
<p>AVC Silicon Hill již pravidelně zajišťuje přímý přenos a záznam celé akce.<br />
<iframe src="https://www.youtube.com/embed/Ds9s3P9JaQ0?list=PL4VG-OTSU3Qrcf8Yhcgcs6iTU0KqIU7aJ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
