---
layout: post
status: publish
published: true
title: InstallFest 2017
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1213
wordpress_url: http://avc.siliconhill.cz/?p=1213
date: '2017-03-04 09:40:21 +0100'
date_gmt: '2017-03-04 08:40:21 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Již tradičně se první březnový víkend konala konference InstallFest, pořádaná klubem Silicon Hill. Tentokrát se vrátila na místo svého vzniku, do budovy FEL ČVUT na Karlově náměstí. AVC Silicon Hill se jako tradičně zhostilo kompletní technického zajištění akce. Velkou technickou novinkou byl celý produkční řetězec v hlavní místnosti v rozlišení 4k, od kamery až po stream na YT. A k tomu další dvě místnosti zaznamenané a odstreamované v HD. Fotoreporty z akce jsou k nalezení na Root.cz: <a href="https://www.root.cz/clanky/foto-sobota-na-konferenci-installfest-2017/">sobota</a> a <a href="https://www.root.cz/clanky/galerie-nedele-na-konferenci-installfest-2017/">neděle</a> nebo také článek o akci také z <a href="https://www.root.cz/clanky/jaky-byl-installfest-2017-velky-a-pritom-porad-osobni/">Root.cz</a>.<br />
<iframe src="https://www.youtube.com/embed/videoseries?list=PLub6xBWO8gV_t_p-5-J_qU20fkkDtsLjB" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
