---
layout: post
status: publish
published: true
title: LinuxDays 2017
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1279
wordpress_url: http://avc.siliconhill.cz/?p=1279
date: '2017-10-08 00:28:39 +0200'
date_gmt: '2017-10-07 22:28:39 +0200'
categories:
- Live
- Akce
- Video
tags: []
---
<p>Letošní ročník se uskutečnil 7. a 8. října 2016 v Praze v areálu ČVUT v Dejvicích na Fakultě Informačních Technologií. Již tradiční akce, na které jsme tento rok zajišťovali stream a záznam ze 4 místností zároveň, tentokráte dvě v rozlišení 4k. Více informací o akci na <a href="https://www.linuxdays.cz/2017/">www.linuxdays.cz</a>.</p>
<p>Fotogalerie jsou na webu <a href="https://www.root.cz/">root.cz</a> k dispozici ze <a href="https://www.root.cz/galerie/foto-reportaz-z-konference-linuxdays-sobota/">soboty</a> a z <a href="https://www.root.cz/galerie/foto-reportaz-z-konference-linuxdays-nedele/">neděle</a>.<br />
<iframe src="https://www.youtube.com/embed/nzj07TQt6q8" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
