---
layout: post
status: publish
published: true
title: InstallFest 2018
author:
  display_name: john.bednar
  login: admin
  email: john.bednar@sh.cvut.cz
  url: http://avc.siliconhill.cz
author_login: admin
author_email: john.bednar@sh.cvut.cz
author_url: http://avc.siliconhill.cz
wordpress_id: 1296
wordpress_url: http://avc.siliconhill.cz/?p=1296
date: '2018-03-03 09:59:22 +0100'
date_gmt: '2018-03-03 08:59:22 +0100'
categories:
- Live
- Akce
- Video
tags: []
---
<p>O víkendu 3. a 4. března proběhl v prostorách FEL na Karlově náměstí další ročník obnoveného InstallFestu. U InstallFestu samozřejmě nesmíme chybět a i letošní rok jsme zajišťovali přenos obou tracků do internetu i zvuk. Fotogalerie ze <a href="https://www.root.cz/galerie/installfest-2018-sobota/">soboty</a> i <a href="https://www.root.cz/galerie/installfest-2018-nedele/">neděle</a> jsou ze serveru Root.cz. </p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLub6xBWO8gV-o6OCvc1_nm2WnH6SsFM4U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
