<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang }}">

{%- include head.html -%}

<body id="top">
  {{ content }}

  <!-- preloader
================================================== -->
  <div id="preloader">
      <div id="loader">
      </div>
  </div>

  <!-- Java Script
  ================================================== -->
  <script src="{{ "assets/js/jquery-3.2.1.min.js" | relative_url }}"></script>
  <script src="{{ "assets/js/plugins.js" | relative_url }}"></script>
  <script src="{{ "assets/js/main.js" | relative_url }}"></script>
</body>

</html>